{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<body class="about-us">


    <div class="wrapper">
        <div class="parallax filter-black">
            <div class="parallax-image">
                <img src="{% static "front/img/bg about.jpg" %}">
            </div>
            <div class="small-info">
                <h1>About Us</h1>
                <h3>Tentang diriku yang membuatmu neduh saat kuberikan sesuatu yang berharga </h3>
            </div>
        </div>
    
        <div class="section">
               <div class="container">
                   <h2 class="section-title">Sandy Erlansyah</h2>
                   <div class="row">
                       <div class="col-md-6">
                           <p>
                              Saya adalah seorang mahasiswa Universitas Muhammadiyah Kalimantan Timur, saya memiliki pengalaman sebagai owner durian abah sangatta dan juga seorang atlit silat. </p>
                            </p>Dari pengalaman saya dalam berkerja saya dapat menjadi disiplin masuk kerja tepat waktu dan harus bangun pagi, dan saya ingin membuat diri saya terus berkembang lebih baik untuk terus sealnjutnya selalu memperbaiki diri dan terus berkembang tentang bertamabah nya ilmu pengetahuan.</p>
                       </div>
                         <div class="col-md-6">
                           <p>Saya memiliki keamampuan berjiwa tanggung jawab dan pemimpin yang dari mana itu membuat saya untuk selalu berprilaku baik</p>
                           <p>
                            Saya memiliki motivasi yang tinggi dalam mencapai tujuan serta mampu bekerja sama di dalam tim. Saya juga memiliki ketelitian yang tinggi sehingga sangat terstruktur ketika mengerjakan sesuatu.</p>
                       </div>
                   </div>
               </div>
        </div><!-- section -->
            <div class="section">
                   <div class="container">
                       <h2 class="section-title">Send us a message</h2>
                       <div class="row">


                                <div class="contact-info">
                                    <h5><i class="fa fa-map-marker text-muted"></i> Address</h5>
                                    <p class="text-muted"> M said, Gang 1. 8,<br>
                                        25127 ,<br>
                                        Samarinda 
                                    </p><br>
                                    <h5><i class="fa fa-phone text-muted"></i> No Telfon</h5>
                                    <p class="text-muted"> Sandy Erlansyah<br>
                                        +628-2235-8764-99<br>
                                    </p><br>
                                </div>
                       </div>
                   </div>
            </div><!-- section -->    
    
         <div class="section">
            <div class="container">
                <h2 class="section-title">My Foto</h2>
                <div class="row">
                    <div class="col-md-4">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s1.jpg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-8">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s2.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-8">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s3.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
    
                    <div class="col-md-4">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s4.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
    
                    <div class="col-md-4">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s5.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-4">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s6.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-4">
                            <div class="card card-plain">
                            <div class="image">
                                <img src="{% static "front/img/s7.jpeg" %}" alt="..."/>
                                <div class="filter">
                                    <button type="button" class="btn btn-neutral btn-simple">
                                        <i class="fa fa-image"></i> View Image
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
    
    
                </div>
            </div>
        </div> <!-- end section meet our clients -->
    
         <div class="subscribe-line subscribe-line-default">
                 <div class="container">
                    <div class="row">
                         <div class="col-md-9">
                            <form class="">
                                 <div class="form-group">
                                      <input type="text" value="" class="form-control" placeholder="Enter your email here...">
                                 </div>
                             </form>
                         </div>
                         <div class="col-md-3">
                             <button type="button" class="btn btn-info btn-fill btn-block">Join our team!</button>
                         </div>
                    </div>
                 </div>
             </div>
    
    
    </div> <!-- wrapper -->
    </body>
{% endblock content %}
